@import "../variables.scss";

.Container__Searcher {
    padding-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    input {
        height: 50px;
        width: 400px;
        padding: 12px;
        border: 1px solid rgb(197, 196, 196);
        border-radius: 12px;
        outline: none;
        font-size: 18px;
        color: $secundary;
    }
}